In [1]:
import pyodbc

In [2]:
sqlCnxn = pyodbc.connect(
    """
    DRIVER={ODBC Driver 13 for SQL Server};
    SERVER=localhost;
    DATABASE=AdventureWorks2017;
    Trusted_Connection=yes;
    """)

In [3]:
import pandas as pd

In [4]:
data = pd.read_sql(
    """
    SELECT TOP 1 PERCENT 
        SOH.OrderDate
        , SOH.CustomerID
        , SOD.OrderQty
        , SOD.ProductID
        , SOD.LineTotal
    FROM 
        Sales.SalesOrderHeader SOH INNER JOIN Sales.SalesOrderDetail SOD
            ON SOH.SalesOrderID = SOD.SalesOrderID
    ORDER BY 
        NEWID();
    """, sqlCnxn)

In [5]:
print(data.head(3))

   OrderDate  CustomerID  OrderQty  ProductID  LineTotal
0 2013-10-30       29864         1        864      38.10
1 2012-03-08       14827         1        751    3578.27
2 2014-05-07       18528         1        878      21.98

In [6]:
print(data.shape)

(1214, 5)

In [7]:
print(data.columns)

Index(['OrderDate', 'CustomerID', 'OrderQty', 'ProductID', 'LineTotal'], dtype='object')

In [8]:
print(data['OrderDate'].dtype)

datetime64[ns]

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Data columns (total 5 columns):
OrderDate     1214 non-null datetime64[ns]
CustomerID    1214 non-null int64
OrderQty      1214 non-null int64
ProductID     1214 non-null int64
LineTotal     1214 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 47.5 KB
None