# Pandas and SQL
I was messing around the other day trying to figure out how to bring my datasets from SQL to a text file so that I could read them with the Pandas package, when I thought "Hey, why don't I just check if there's a package for this?"
It turns out there is a package for this and I don't have to duplicate the data into a text file, I can just read it off of my local server in SQL! I felt a little silly as I knew about some of them, already. I had a lot of trouble using them previously as I did not have enough knowledge at the time.

Another thing I realized is that when I look at Pandas in the context of a SQL query, I was able to grasp pandas a little bit easier. Ofcourse the documentation on the pandas website has a page comparing Pandas to SQL.

I love when little things like this give me an "Ah Ha" moment.

In [1]:
import pyodbc # The package for creating a SQL connection

In [2]:
sqlConnection = pyodbc.connect( # The connect method requires DRIVER, SERVER, DATABASE, Trusted_Connection arg.
    'DRIVER={ODBC Driver 13 for SQL Server};'
    'SERVER=localhost;'
    'DATABASE=AdventureWorks2017;'
    'Trusted_Connection=yes;')
# I noticed that if you need to connect to another db outside your local computer, you
# can add a user name and password string, as well.

In [3]:
import pandas as pd

In [4]:
sampleData = pd.read_sql(
    "SELECT TOP 10 * FROM Sales.SalesOrderHeader;", # First arg is a sql query, now I can get into this!
    sqlConnection # Connection variable from above, "pyodbc.connect()"
)

In [5]:
print(sampleData.columns)

Index(['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate',
       'Status', 'OnlineOrderFlag', 'SalesOrderNumber', 'PurchaseOrderNumber',
       'AccountNumber', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'BillToAddressID', 'ShipToAddressID', 'ShipMethodID', 'CreditCardID',
       'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'Comment', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [6]:
print(sampleData.head(n=3))

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0            False          SO43659         PO522145787  10-4020-000676  ...
1            False          SO43660       PO18850127500  10-4020-000117  ...
2            False          SO43661       PO18473189620  10-4020-000442  ...

   CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0         16281           105041Vi84182             NaN  20565.6206
1          5618           115213Vi29411             NaN   1294.2529
2          1346             85274Vi6854             4.0  32726.4786

      TaxAmt   Freight    TotalDue Comment  \
0  1971.5149  616.0984  23153.2339    None
1   124.2483   38.8276   1457.3288    None
2  3153.7696  985.5530  36865.8012    None

                                rowguid  ModifiedDate
0  79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1  738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2  D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07

[3 rows x 26 columns]

In [8]:
print(sampleData.groupby('OrderDate')['Freight'].sum()) # God, I love pandas documentation!

OrderDate
2011-05-31    5100.0502
Name: Freight, dtype: float64

In [9]:
print(sampleData.loc[:, ['OrderDate', 'Freight']])

   OrderDate    Freight
0 2011-05-31   616.0984
1 2011-05-31    38.8276
2 2011-05-31   985.5530
3 2011-05-31   867.2389
4 2011-05-31    12.5838
5 2011-05-31   732.8100
6 2011-05-31   429.9821
7 2011-05-31   151.9921
8 2011-05-31   183.1626
9 2011-05-31  1081.8017

In [10]:
print(sampleData.loc[:, ['OrderDate', 'Freight']].describe())

           Freight
count    10.000000
mean    510.005020
std     401.725466
min      12.583800
25%     159.784725
50%     523.040250
75%     833.631675
max    1081.801700